<%- include('partials/header.ejs'); %>

<h1> Book Notes </h1>

<a href="books/new" id="add-book"> Add a new book </a>
<div class="sort-options">
    <p>Sort By:</p>
    <a href="/books?sort=title"> Title </a>
    <a href="books?sort=date"> Date </a>
    <a href="books?sort=rating"> Rating </a>
</div>

<% if (!locals.books) { %>
    <h3>No books found</h3>
<% } %>

<% locals.books.forEach((book) => { %>
    <h2> <%= book.title %> By <%= book.author %> </h2>
    <p> Date Read: <%= book.date_read %>. How satisfied: <%= book.rating %> </p>
    <p> <%= book.notes %> </p>
    
<% }) %>

<%- include('partials/footer.ejs');  %>