<%- include('partials/header.ejs'); %>

<h1> Book Notes </h1>

<a href="books/new" id="add-book"> Add a new book </a>
<div class="sort-options">
    <p>Sort By:</p>
    <a href="/books?sort=title"> Title </a>
    <a href="books?sort=date"> Date </a>
    <a href="books?sort=rating"> Rating </a>
</div>

<% if (!locals.books) { %>
    <h3>No books found</h3>
<% } else { %>

    <ul class="book-list">
        <% locals.books.forEach((book) => { %>
            <li class="book-item">
                <a href="/books/<%= book.id %> ">
                    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="<%= book.title %> Cover" >
                </a>
                <a href="/books/<%= book.id %> "> 
                    <%= book.title.toUpperCase()  %> - By <%= book.author.toUpperCase() %>
                </a>
                <p> Date Read: <%= book.date_read.toLocaleDateString() %>. How satisfied: <%= book.rating %> </p>
                <p> <%= book.notes %> </p>
            </li>
        <% }) %>
        
    </ul>


<% } %>

<%- include('partials/footer.ejs');  %>